{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Home{% endtrans %}
{% endblock %}

{% block body %}
    <section class="w-full lg:h-screen bg-gradient-to-t from-purple-400 to-purple-800 dark:from-green-600
                    dark:to-green-900 p-8">
        <div class="h-full flex flex-col justify-center">
            <h1 class="text-7xl font-bold text-center mb-1 text-white break-all">
                Communoté
            </h1>
            <p class="text-center text-xl font-semibold text-white mb-4">
                {% trans %} home-subtitle {% endtrans %}
            </p>
            {% if not is_granted('ROLE_USER') %}
            <div class="flex justify-center gap-x-4">
                <a class="button primary" href="{{ path('connect_azure_start') }}">
                    {% trans %} Register {% endtrans %}
                </a>
                <a class="button primary light" href="{{ path('connect_azure_start') }}">
                    {% trans %} Sign In {% endtrans %}
                </a>
            </div>
            {% endif %}
        </div>
    </section>

    <section class="w-full lg:h-screen p-8">
        <div class="h-full lg:p-0 flex flex-col lg:justify-center">
            <h1 class="text-7xl font-bold text-center mb-1 text-black dark:text-white mb-16">
                {% trans %} why-communote {% endtrans %}
            </h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mx-auto container text-white">
                <a href="https://github.com/Ahzed11/Communote"
                   target="_blank"
                   class="block rounded p-8 shadow hover:shadow-lg transform hover:scale-105 transition duration-300
                            bg-purple-800 dark:bg-gray-900">
                    <div class="flex justify-center mb-2">
                        <i class="fab fa-github text-6xl"></i>
                    </div>
                    <h2 class="text-center font-semibold text-3xl mb-4">
                        Open Source
                    </h2>
                    <p class="text-justify">
                        {% trans %} why-communote-opensource {% endtrans %}
                    </p>
                </a>

                <div class="block rounded p-8 shadow hover:shadow-lg transform hover:scale-105 transition duration-300
                            bg-purple-800 dark:bg-gray-900">
                    <div class="flex justify-center mb-2">
                        <i class="fas fa-user-shield text-6xl"></i>
                    </div>
                    <h2 class="text-center font-semibold text-3xl mb-4">
                        {% trans %} why-communote-personal-data-title {% endtrans %}
                    </h2>
                    <p class="text-justify">
                        {% trans %} why-communote-personal-data {% endtrans %}
                    </p>
                </div>

                <div class="block rounded p-8 shadow hover:shadow-lg transform hover:scale-105 transition duration-300
                            bg-purple-800 dark:bg-gray-900">
                    <div class="flex justify-center mb-2">
                        <i class="far fa-hand-peace text-6xl"></i>
                    </div>
                    <h2 class="text-center font-semibold text-3xl mb-4">
                        {% trans %} why-communote-ease-of-use-title {% endtrans %}
                    </h2>
                    <p class="text-justify">
                        {% trans %} why-communote-ease-of-use {% endtrans %}
                    </p>
                </div>

                <a href="https://www.communote.be/api"
                   target="_blank"
                   class="block rounded p-8 shadow hover:shadow-lg transform hover:scale-105 transition duration-300
                            bg-purple-800 dark:bg-gray-900">
                    <div class="flex justify-center mb-2">
                        <i class="fas fa-book text-6xl"></i>
                    </div>
                    <h2 class="text-center font-semibold text-3xl mb-4">
                        API
                    </h2>
                    <p class="text-justify">
                        {% trans %} why-communote-api {% endtrans %}
                    </p>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
