<li class="inline-block rounded-lg shadow overflow-hidden h-full hover:shadow-lg transform hover:scale-105 transition duration-300 dark:bg-gray-900 dark:text-white">
    <a href="{{ path }}">
        <div class="h-full">
            <div class="py-10 px-8 h-full">
                <h2 class="text-2xl font-bold">{{ item.title }}</h2>
            </div>
        </div>
    </a>
</li>
