{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Overview{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="text-4xl font-extrabold mb-8">{% trans %}Overview{% endtrans %}</h1>
    <div class="flex justify-between flex-wrap gap-x-4 mb-8">
        {% include 'component/card/card-stat.html.twig' with {'title':'Users', 'data': userCount} %}

        {% include 'component/card/card-stat.html.twig' with {'title':'Notes', 'data': noteCount} %}

        {% include 'component/card/card-stat.html.twig' with {'title':'Reports', 'data': reportCount} %}

        {% include 'component/card/card-stat.html.twig' with {'title':'Reviews', 'data': reviewCount} %}

        {% include 'component/card/card-stat.html.twig' with {'title':'Comments', 'data': commentCount} %}

        {% include 'component/card/card-stat.html.twig' with {'title':'Downloads', 'data': downloadCount} %}
    </div>

    <div class="grid grid-cols-3 grid-flow-col">
        <div class="w-full">
            {{ render_chart(downloadChart) }}
        </div>
        <div class="w-full">
            {{ render_chart(reviewChart) }}
        </div>
        <div class="w-full">
            {{ render_chart(noteChart) }}
        </div>
    </div>
{% endblock %}
