{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Overview{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="text-4xl font-extrabold">{% trans %}Overview{% endtrans %}</h1>
{% endblock %}
