{% extends 'browse/browse.html.twig' %}

{% block browse %}
    {% set year = 0 %}
    {% set previousYear = 0 %}
    {% set isUnclosed = true %}
    {% for item in pagination %}
        {% set path = path('note_view', { 'slug':item.slug }) %}

        {% set year = item.wroteAt | date('Y') %}

        {% if year != previousYear %}
            {% if isUnclosed %}
                </ul>
                {% set isUnclosed = true %}
            {% endif %}

            <h1 class="text-2xl text-black dark:text-green-400 font-bold mb-2"> {{ year }}</h1>
            <ul class="list-none grid grid-cols-1 gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4 lg:gap-6 mb-6">
                {% include cardComponent with {
                    'path': path
                }%}

            {% set isUnclosed = true %}
        {% else %}
            {% include cardComponent with {
                'path': path
            }%}
        {% endif %}

        {% set previousYear = year %}
    {% endfor %}

    </ul>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
