{% extends 'base.html.twig' %}

{% block title %}Browse{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <section class="flex justify-between flex-wrap mt-8">
            {% include 'component/breadcrumb.html.twig' with {'endWord': title} %}

            <form method="get">
                <label class="hidden" for="search">Search</label>
                <div class="relative">
                    <input class="browse-search"
                           type="text" id="search" name="search" value="{{ app.request.get('search') }}"
                           placeholder="{{ title }}"/>
                    <button type="submit" class="pl-2 font-semibold bg-white dark:bg-gray-900 text-purple-700
                                                dark:text-green-400 absolute right-3 top-2.5">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </form>
        </section>

        <hr class="mb-4" />

        <section>
            <ul class="list-none grid grid-cols-1 gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4 lg:gap-6">
                {% for item in pagination %}
                    {% if not isNote is defined %}
                        {% set path = path(app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')) %}
                        {% set path = path ~ ((path | slice(-1)) == '/' ? '' : '/') ~ item.title %}
                    {% else %}
                        {% set path = path('note_view', { 'slug':item.slug }) %}
                    {% endif %}

                    {% include cardComponent with {
                        'path': path
                    }%}
                {% endfor %}
            </ul>
            {{ knp_pagination_render(pagination) }}
        </section>
    </div>
{% endblock %}
