{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Browse{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container mx-auto mt-4">
        <section class="flex justify-between">
            {% include 'component/breadcrumb.html.twig' with {'endWord': title} %}
            {% include 'component/searchbar.html.twig' with {'placeholder': title} %}
        </section>

        <hr class="my-4"/>

        <section>
        {% block browse %}
            <ul class="list-none grid grid-cols-1 gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4 lg:gap-6">
                {% for item in pagination %}
                    {% set path = path(app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')) %}
                    {% set path = path ~ ((path | slice(-1)) == '/' ? '' : '/') ~ item.title %}

                    {% include cardComponent with {
                        'path': path
                    }%}
                {% endfor %}
            </ul>

            <div class="my-4 flex justify-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endblock %}
        </section>
    </div>
{% endblock %}
