<nav class="breadcrumbs text-lg flex">
    {% set path = '/browse/' %}
    <ul class="self-end">
        <li>
            <a href="{{ path('browse_faculty') }}">
                {% trans %}Browse{% endtrans %}
            </a>
        </li>
        {% for arg in app.request.attributes.get('_route_params') %}
        <li>
            {% set path = path ~ arg ~ '/' %}
            <a href="{{ path }}">{{ arg }}</a>
        </li>
        {% endfor %}
        <li>
            <a class="text-primary font-semibold">{{ endWord | trans }}</a>
        </li>
    </ul>
</nav>