<form method="get">
    <div class="form-control">
        <label class="label" for="search">
            <span class="label-text hidden">{% trans %}Search{% endtrans %}</span>
        </label>
        <div class="relative">
            <input type="text" placeholder="{{ placeholder | trans }}"
                   class="w-full pr-16 input input-primary input-bordered" name="search">
            <button class="absolute top-0 right-0 rounded-l-none btn btn-primary">
                <i class="fas fa-search mr-2"></i>
                {% trans %}Search{% endtrans %}
            </button>
        </div>
    </div>
</form>
