<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} - Communote</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon-32.png') }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/5afb19c3ff.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="dark:bg-gray-800 dark:text-white bg-purple-50">
        {% block navbar %}
            {% include "component/navbar.html.twig" %}
        {% endblock %}

        <div class="mt-4">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
